@model List<ServiciosNegocio>
<link rel="stylesheet" href="~/css/DashServicios.css" asp-append-version="true" />
<link rel="stylesheet" href="~/css/Principal.css" asp-append-version="true" />
<!DOCTYPE html>
<html>
<head>
    <nav class="navbar navbar-expand-custom navbar-mainbg">
        <a class="navbar-brand navbar-logo" href="#">Navbar</a>
        <button class="navbar-toggler" type="button" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <i class="fas fa-bars text-white"></i>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav ml-auto">
                <div class="hori-selector"><div class="left"></div><div class="right"></div></div>
                <li class="nav-item">
                    <a class="nav-link mx-2 active" asp-controller="Negocio" asp-action="Index"><i class="far fa-copy"></i>Inicio</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link mx-2 active" asp-controller="Negocio" asp-action="CalendarioN"><i class="far fa-copy"></i>Calendario</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link mx-2 active" asp-controller="Negocio" asp-action="Dash"><i class="far fa-copy"></i>Dash board</a>
                </li>
            </ul>
        </div>
    </nav>
</head>
<head>
    <title>Servicios Disponibles</title>
    <!-- Agrega aquí tus referencias a estilos, scripts y otras dependencias si es necesario -->
</head>

<body>
    <div class="list">
    <h2>Servicios Disponibles</h2>

    <ul>
        @foreach (var servicio in Model)
        {
            <li>@servicio.Nombre - @servicio.Descripcion</li>
        }
    </ul>
    </div>
    <div class="animation"></div>
</body>

</html>