<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - CitaFacil</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/style.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/CitaFacil.style.css" asp-append-version="true" />
</head>
<body>
    <header class="header">
        <div class="container">
            <div class="menu">
                <a href="#" class="logo"><img src="~/img/Logo.png" width="128"height="64" /></a>
                <input type="checkbox" id="menu">
                <label for="menu">
                    <img src="~/img/menu.png" class="menu-icono" alt="" />
                </label>
                <nav class="nav">
                    <ul>
                        <li><a asp-controller="Home" asp-action="Index">Inicio</a></li>
                        <li><a href="#">Acerca de Nosotros</a></li>
                        <li><a href="#">Nuestros Servicios</a></li>
                        <li><a href="#">Contacto</a></li>
                        <li><a href="#">Iniciar Sesión</a></li>
                        <li><a asp-controller="Registrar_Cliente" asp-action="Create">Registro Cliente</a></li>
                    </ul>
                </nav>
            </div>
        </div>
    </header>
    <div class="container">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>
    <footer class="border-top footer text-muted">
        <div class="container">
            &copy; @DateTime.Now.Year - CitaFacil
        </div>
    </footer>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
