@{
    ViewData["Title"] = "En revision";
}
@section ExtraStyles {
    <link rel="stylesheet" href="~/css/RegistroUsuario.css" asp-append-version="true" />
}

<div class="container">
    <div class="row justify-content-evenly">
        <h1 class="text-title col-12 text-center mt-5"> EN REVISION</h1>
    </div>
</div>
