@section ExtraStyles {
    <link rel="stylesheet" href="~/css/RegistroUsuario.css" asp-append-version="true" />
}

<div class="container">
    <div class="row justify-content-evenly">
        <h1 class="text-title col-12 text-center mt-5"> Index Administrador</h1>
        <a class="btn btn-info mb-5" asp-action="ListadoUsuarioEmpresa" asp-controller="Administrador"> Listado Usuarios </a>
        <a class="btn btn-danger" asp-action="Cerrar_Sesion" asp-controller="Home"> cerrar sesion </a>
    </div>
</div>
